
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <title>園遊會抽獎</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>輸入手機末三碼抽獎</h1>
  <input type="text" id="lastThree" maxlength="3" placeholder="例：123" />
  <button onclick="getLuckyNumber()">領取抽獎號碼</button>
  <p id="result"></p>
  
  <image src="{{ url_for('static', filename='assets/item.png') }}"></image>
  <a href="https://nft-lottery.onrender.com/admin-login">後台登入</a>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
